<div class="
">
    <form method="post" action="">
        <div class="input-group mb-3 search">
            {{!-- <button class="btn btn-outline-secondary" type="button" id="button-addon1">Tìm kiếm</button> --}}
            <input type="text" class="form-control" placeholder="Nhập nội dung tìm kiếm" name="search">
        </div>

        <button type="submit" type="button" class="btn btn-success">Tìm kiếm</button>
    </form>
</div>